.data-analysis-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.column-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.chart-container {
  width: 80%;
  max-width: 800px;
}

.category-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.category-list li {
  margin-bottom: 5px;
}

.two-d-graph {
  width: 80%;
  max-width: 800px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graph-selectors {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.graph-selectors select {
  font-size: 16px;
  padding: 8px;
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  .chart-container {
    width: 100%;
  }

  .two-d-graph {
    width: 100%;
  }
}
